# NodeJS packages
*/**/node_modules

# Typescript transpilation
*/**/build
*/**/dist

# GraphQL codegen
*/**/__generated__

# Other macOS files
.DS_Store
*/**/.cache
*/**/public/build
*/**/.mf
*/**.env.*
*/**.shopify